azurerm/.terraform.*
azurerm/.terraform/*
azurerm/terraform.tfstate
azurerm/terraform.tfstate.backup
workspace.code-workspace
.terraform
*/.terraform
*/*/.terraform.lock.hcl
google/credentials/*
google/terraform.*
google/terraform.*.*
google/*/terraform.*
google/*/terraform.*.*
